

#body{
    width: 100%;
    height: 100% ;
    background-image: url("https://media.giphy.com/media/H1RTRpU86PM8FmyUcE/giphy.gif");
    background-position: center ;
    background-size: cover ;
}

#header {     
    margin: auto;
    text-align: center;
     
    width: 80%;
    height: 15%; 
    background-color: white;
    border-radius: 10px ;
    outline: .3rem solid #5ea6fd ;
}

#div {
    margin: auto;     
   
    width: 80%;
    height: 100%;
    background-color: #98cdff;
    outline: thick double #98C7FF ;
}

#footer {
    margin: auto;   

    width: 80%;
    height: 15%;
    background-color: white;
    border-radius: 10px;
    outline: solid #aa816cce;
}

.tituloheader{
 text-align: center;
 outline: none;
 text-decoration: none;
 color: black;
}


       
.section {
    margin: auto;    
      

    width: 90%;
    height: 100%;
    background-color:rgb(196, 196, 196);
    outline: dashed rgb(139, 139, 139) ;
    border-radius: 10px ;
}

.sectionojo {
    margin: auto;    
      

    width: 90%;
    height: 100%;
    background-color:white;
    outline: dashed rgb(139, 139, 139) ;
    border-radius: 10px ;
}

.ul2 li {
   list-style: none; 
}

.imgheader img {
    width:120px; 
    height:120px;  
    
    
}

.imgsection {
    width: 200px;
    height: 200px;
}

.imgfooter{
    width: 80px;
    height: 80px;
}