

#body{
     
    width: 100%;
    height: 100%;

    background-image: url(https://drive.google.com/uc?export=view&id=1FPjDB3x2e_f0Ssh9CQWpBzC0vhQb59Ol);
    color: white

 }

#header {

width: 95%;
height: 55%;
margin: auto;
text-align: center;

}

nav{
   margin-top: 2%;
   margin-left: 36%;
   margin-bottom:2%;
}

a{
   padding-left: 20px;
   color:orangered;
   outline: none;
   text-decoration: none;
}


#div{

margin: auto;     
  
width: 80%;
height: 1000px;

text-align: center;

}

.section {
margin-top: 100px;    
     

width: 90%;
height: 5%;

}



#pokedex1 {

text-align:center;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
color: #000000 ;
background-image: url(https://drive.google.com/uc?export=view&id=1CqFEdXyOQ47xKTrkKXcIhBxWSyQlMlf2);
border-radius: 1em; 
padding: 30px 30px 30px 30px;
outline: none;
text-decoration: none;
background-size: cover;

}

#sistemasolar{

text-align:center;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
color: darkgrey ;
background-image: url(https://drive.google.com/uc?export=view&id=1s2stMWXVmdR7mHReQOZbH0V5iEbyKlnU);
border-radius: 1em; 
padding: 30px 30px 30px 30px;
outline: none;
text-decoration: none;
background-size: cover;

} 

#practica{

text-align:center;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
color: orangered ;
background-image: url(https://drive.google.com/uc?export=view&id=1sOW7rhayOFvKHE580uvfvgA9z_UHcBx_);
background-size: cover;
border-radius: 1em; 
padding: 30px 30px 30px 30px;
outline: none;
text-decoration: none;

}

#proyecto {
   text-align:center;
   font-size: 15px;
   font-family: 'Times New Roman', Times, serif;
   color: orangered ;
   background-image: url(https://drive.google.com/uc?export=view&id=1EKiNbd1ZF4Uzp5BG4sco1DKipsMoATCF);
   background-size: cover;
   border-radius: 1em; 
padding: 30px 30px 30px 30px;
   outline: none;
   text-decoration: none;
    
}


