@import url(https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap); 


html{
    background-position: center;
}

body{
    /*  background-image: url(https://drive.google.com/uc?export=view&id=1CGcWOhiCjDpbqFSZeIz6bFB5fsujWxsZ); */
    background-size: cover;
    width: 1395px;
    height: 635px;
    margin: auto;
}

header{    
    width: 465px;
    height: 100px;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
    margin-left: 465px;  
}

#h1{ 
    color: #724a0e;
    text-shadow: #96d61e 0px -5px 5px;  
    outline: none;
    text-decoration: none;
}

nav{
    margin-left:150px ;
    border-color: gray;
    outline: solid rgb(46, 60, 184);
}

a { 
    padding-left: 200px;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

div{
    width: 1200px;
    height: 480px;
    background-color: #626068;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    border-style: solid;
    text-align: justify;
    margin: auto;
    border-radius: 20px;    
}

select{
    background-color: white;
    width: 250px;
    height: 20px;
    margin-left: 450px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
}

#resultados{
    background-color: #3c5eaf;
    width: 1000px;
    height: 370px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20px;
    outline: 7px dashed #5f5b6b; 
}  

.imagen{
    width: 250px;
    height: 250px;
    margin-top: 60px;
    margin-left: 90px;
    border-radius: 10px;    
}

ul {
    display: inline-block;
    vertical-align: top;   
}

.npc{
    font-size: 30px;
    margin-left: 110px;
    background-color: #27407bed;
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 13px;
    outline: thick double #203361;
    color: white;
}

#desc{
    background-color: #0e1c3e ;
    width: 500px;
    height: 200px;
    margin-left: 10px;
    text-align: justify;
    border-radius: 10px;
    color: white;
    outline: thick double #203772 ;
}

.texto{
    
    margin: 0px;
    padding: 0px;
    font-family: 'Caveat', cursive;
    display: inline-block;
    margin-left: -40px;
}

.hp{
    display: inline-block;
    text-align: left;
    ;
}

.atk{
    display: inline-block;
    margin-left: 340px;
}

.letritasH{
    font-size: 20px;
    font-family: 'Caveat', cursive;
    color: rgb(212, 27, 27)    
}

.letritasA{
    font-size: 20px;
    font-family: 'Caveat', cursive;
    color:rgb(221, 135, 37)
}



   /* Smarthphone vertical  INFRAMUNDO background-color: rgb(77, 1, 1);  
  @media (max-width:640px){

    html{
        background-image: url(https://drive.google.com/uc?export=view&id=1PdwmIvareWT9mEUqN-AzjkHcuVm5t30O);
        background-size: cover;
    }
    
    body{    
        width: 320px;
        height: 480px;
        }
    
    header{        
        width: 300px;
        height: 40px;
        font-size: 15px;
        margin-left: 10px;
        }
        
    nav{
        margin:auto ;
        outline: solid wheat;
        width: 125px;
        height: 20px;
        padding-left: 5px;
    }
        
    a { 
        padding-left: 0px;
        font-size: 10px;
        color: white;
    }
        
    p {
        font-size: 10px;
        color: white;
    }
   
    div{    
        width: 300px;
        height: 330px;
        font-size: 10px;        
    }
    
    #buscador{    
        width: 200px;
        height: 15px;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
    }
    
    #resultados{    

        width: 280px;
        height: 280px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 20px;
        outline: 3px dashed #5f5b6b;   
    }     
    
    #imagen{    
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 5px;
        }
    
    #npc{    
        font-size: 15px;
        margin-left: 25px;
        margin-top: 5px;
        width: 150px;
        height: 20px;
        border-radius: 5px;
    }
    
    #descripcion{
        width: 210px;
        height: 125px;
        margin-left: -25px;
        border-radius: 5px;
        font-size: 10px;
    }

    .texto{    
        margin-left: -40px;
    }
    
    .hp{
        margin-left: -50px;
    }
    
    .atk{
        margin-left: 100px;
    }
    
    .letritasH{
        font-size: 10px;
        margin-top: -0px;
    }

    .letritasA{
        font-size: 10px;
        margin-top: -0px;
    }
   
  }


   /*  Smarthphone horizontal  & tablets vertical HONGOS 
  @media only screen and (min-width:640px) and (max-width:1024px){
      
    html{
        background-color: #1a3f6b;
    }
    
    body{    
        background-image: url(https://drive.google.com/uc?export=view&id=1aOmIJflvSym6N6WYkIEk6dVWnf6JfAfY);
        width: 640px;
        height: 960px;
    }
    
    header{
        width: 450px;
        height: 100px;
        font-size: 30px;
        margin-left: 95px;
    }
    
    
        
        
    nav{
        margin-left:207px ;
        width: 225px;
        height: 20px; 
        padding-left: 10px;     
    }
        
    a { 
        padding-left: 0px;
        font-size: 18px;
        color: white;
    }
        
    p {
        font-size: 20px;
        color: white;
    }

    
    

    div{
    
        width: 600px;
        height: 715px;
        border-radius: 20px;
        
    }
    
    #buscador{
        width: 300px;
        height: 25px;
        margin-left: 150px;
        margin-top: 20px;
        border-radius: 5px;
    }
    
    #resultados{
        width: 550px;
        height: 620px;
        margin-left: 25px;
        border-radius: 10px;
        outline: 5px dashed #5f5b6b;     
    }  
    
    #imagen{    
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-left: 175px;
    }
    
    #npc{    
        font-size: 20px;
        margin-left: 110px;
        width: 250px;
        height: 28px;
        border-radius: 10px;
}
    
    #descripcion{
        width: 525px;
        height: 280px;
        margin-left: -27px;
        border-radius: 8px;
        font-size: 18px;
    }

    .texto{
    
        margin: 0px;
        padding: 0px;
        font-family: 'Caveat', cursive;
        display: inline-block;
        margin-left: -40px;
    }
    
    .hp{
        display: inline-block;
        text-align: left;
        ;
    }
    
    .atk{
        display: inline-block;
        margin-left: 340px;
    }
    
    .letritas{
        font-size: 20px;
        font-family: 'Caveat', cursive
    }
   

  }



   /*  tablets horizontal & laptop vertical (touch screen) SUBSUELO   
  @media only screen and (min-width:1024px) and (max-width:1280px){
      
    html{
        background-color: #654432;
    }
    
    body{    
        background-image: url(https://drive.google.com/uc?export=view&id=1QzA8tQO0smW7kOM2IZM6v2GoWXrmJRjV);
        width: 1024px;
        height: 768px;
    }
    
    header{        
        width: 500px;
        height: 100px;
        font-size: 35px;
        margin-left: 262px;      
    }

    
        
        
    nav{
        margin-left:150px ;
        border-color: gray;
    }
        
    a { 
        padding-left: 200px;
        font-size: 20px;
    }
        
    p {
        font-size: 20px;
    }

    
    
    
    div{    
        width: 1000px;
        height: 625px;
        font-size: 20px;
        border-radius: 20px;        
    }
    
    #buscador{
        height: 25px;
        margin-left: 375px;
        margin-top: 25px;
    }
    
    #resultados{
        width: 900px;
        height: 500px;
        margin-left: 50px;
        outline: 5px dashed #5f5b6b;     
    }  
    
    #imagen {    
        width: 210px;
        height: 210px;
        margin-left: 100px;
    }
    
    #npc{    
        border-radius: 7px;
        margin-top: 120px;        
    }
    
    #descripcion{
        width: 700px;
        height: 190px;
        margin-top: 110px;
        margin-left: -260px;
        border-radius: 0px;
    }

    .texto{
    
        margin: 0px;
        padding: 0px;
        font-family: 'Caveat', cursive;
        display: inline-block;
        margin-left: -40px;
    }
    
    .hp{
        display: inline-block;
        text-align: left;
        ;
    }
    
    .atk{
        display: inline-block;
        margin-left: 340px;
    }
    
    .letritas{
        font-size: 20px;
        font-family: 'Caveat', cursive
    }
       

  }



   /*  laptops    & Monitores SUPERFICIE. 
  @media only screen and (min-width:1280px) and (max-width:1920px){

    html{
        background-color: rgb(38, 141, 238);
    }

    body{    
        background-image: url(https://drive.google.com/uc?export=view&id=1yt2IaFH0RoUaSxhpreCStbG0DOoQzRWZ);
        width: 1280px;
        height: 800px;
    }
    
    header{
        width: 600px;
        font-size: 40px;
        margin-left: 340px;
    }
    
    
        
        
    nav{
        margin-left:150px ;
        border-color: gray;
    }
        
    a { 
        padding-left: 200px;
        font-size: 20px;
    }
        
    p {
        font-size: 20px;
    }

    
    

    div{
        width: 1200px;
        height: 600px;
        font-size: 30px;
        border-radius: 25px;
    }
    
    #buscador{
        width: 300px;
        height: 35px;
        margin-left: 450px;
        border-radius: 10px;
    }
    
    #resultados{
        width: 1150px;
        height: 470px;
        margin-left: 25px;
        border-radius: 17px;    
    }  
    
    #imagen{    
        width: 330px;
        height: 330px;
        margin-top: 80px;
    }

    #npc{    
        font-size: 35px;
        margin-left: 150px;
        width: 300px;
        height: 40px;
        border-radius: 15px;
        margin-top: 50px;
    }
    
    #descripcion{
        width: 590px;
        height: 250px;
        margin-left: 15px;
        border-radius: 10px;
        font-size: 25;
        margin-top: 10px;
    }
   
    .texto{
    
        margin: 0px;
        padding: 0px;
        font-family: 'Caveat', cursive;
        display: inline-block;
        margin-left: -40px;
    }
    
    .hp{
        display: inline-block;
        text-align: left;
        ;
    }
    
    .atk{
        display: inline-block;
        margin-left: 340px;
    }
    
    .letritas{
        font-size: 20px;
        font-family: 'Caveat', cursive
    }

  }



   /*  Televisores STARDUST 

  @media only screen and (min-width:1920px){
      
    html{
        background-color: #56a2e9;
    }
    
    body{
        background-image: url(https://drive.google.com/uc?export=view&id=17wt20QPOiZVtW8EZ-19kB2mG_Z0O4_aC);
        width: 1920px;
        height: 1200px;
    }
    
    header{
        width: 840px;
        height: 150px;
        font-size: 50px;
        margin-left: 540px;
    }

    
        
        
    nav{
        margin-left:150px ;
        border-color: gray;
    }
        
    a { 
        padding-left: 200px;
        font-size: 20px;
    }
        
    p {
        font-size: 20px;
    }

    
    
    
    div{
        width: 1700px;
        height: 900px;
        font-size: 40px;
        border-radius: 30px;
    }
    
    #buscador{
        width: 400px;
        height: 50px;
        margin-left: 700px;
        border-radius: 20px;
    }
    
    #resultados{
        width: 1600px;
        height: 700px;
        margin-top: 50px;
        margin-left: 50px;
        border-radius: 30px;   
    
    }  
    
    #imagen{
    
        width: 500px;
        height: 500px;
        margin-top: 100px;
        margin-left: 90px;
        border-radius: 10px;
        
    }
    
    #npc{
        font-size: 55px;
        margin-left: 170px;
        width: 550px;
        height: 70px;
        border-radius: 18px;
    }
    
    #descripcion{
        width: 900px;
        height: 380px;
        margin-left: 10px;
        border-radius: 10px;
    }

    .texto{
    
        margin: 0px;
        padding: 0px;
        font-family: 'Caveat', cursive;
        display: inline-block;
        margin-left: -40px;
    }
    
    .hp{
        display: inline-block;
        text-align: left;
        ;
    }
    
    .atk{
        display: inline-block;
        margin-left: 340px;
    }
    
    .letritas{
        font-size: 20px;
        font-family: 'Caveat', cursive
    }
   

  }




 
/*

background-image: url(https://drive.google.com/uc?export=view&id=1aOmIJflvSym6N6WYkIEk6dVWnf6JfAfY);

width: 1860px;
height: 836px;


